@font-face {
  font-family: monsterFont;
  src: url("./assets/Munstar-Regular.otf") format("opentype");
}

::root {
  --title-Font: monsterFont;
}

body {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

.App-Title {
  font-size: 150px;
  font-family: monsterFont;
  color: #02b2b8;
  line-height: 100px;
  margin: 150px 0 0 0;

  text-shadow: 5px 5px 5px #000f07;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
